{%extends 'main.html'%}
{%block css_js%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/signup/index.css')}}">
{%endblock%}
{%block title%}SignUp{%endblock%}
{%block content%}
    <main class="d-flex flex-column justify-content-center align-items-center">
        {%if msg%}
        <div class="alert alert-{{mode}}  alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endif%}
        <article id="signup-container" class="d-flex flex-column justify-content-center align-items-center gap-5 p-5">
            <h1 class="text-white">Sign Up</h1>
            <form action="" method="POST">
                <div class="d-flex flex-column justify-content-center align-items-center flex-column mb-4">
                    <label class="fs-3 text-white mb-2" for="name">Name</label>
                    <input type="text" id="name" name="name" required >
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center flex-column mb-4">
                    <label class="fs-3 text-white mb-2" for="email">Email</label>
                    <input type="" id="email" name="email" required >
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center flex-column mb-5">
                    <label class="fs-3 text-white mb-2" for="password">Password</label>
                    <input type="password" id="password" name="password" required >
                </div>
                <input class="btn btn-success" type="submit" value="SignUp">
            </form>
        </article>
    </main>
{%endblock%}