main{
    height: 100vh;
    background-color: var(--boulder-400);
    
}
#signup-container{
    min-height: 50%;
    min-width: 25%;
    border-radius: 20px;
    background-color: var(--boulder-900);
}
#signup-container form input:not([type="submit"]){
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}